.configureContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: none !important;
  position: relative;
}

.greyGlow {
  position: absolute;
  pointer-events: none;
  bottom: 1rem;
  left: 1rem;
  width: 512px;
  height: 512px;
  background-color: #d6d6d6;
  filter: blur(256px);
  opacity: 0.5;
}
.greenGlow {
  position: absolute;
  pointer-events: none;
  top: 1rem;
  right: 1rem;
  width: 512px;
  height: 512px;
  background-color: rgb(40,159,239);
  filter: blur(256px);
  opacity: 0.5;
}
