.container {
  max-width: 1400px;
  width: calc(100% - 180px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.descriptionBox {
  align-self: flex-start;
  text-align: left;
  gap: 0.25rem;
  flex-direction: column;
  display: flex;
}

.title {
  font-size: 20px !important;
  margin-bottom: 24px !important;
}

.bribesContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}

.buttonOverride {
  color: rgb(6, 211, 215) !important;
  background: #272826 !important;
  font-weight: 700 !important;
  width: fit-content !important;
}

.buttonOverride:hover {
  background: rgb(19, 44, 60) !important;
}

.actionButtonText {
  font-size: 15px !important;
}

@media screen and (max-width: 1200px) {
  .container {
    width: calc(100% - 40px);
    border: 1px solid rgba(104, 108, 122, 0.25);
    margin: auto;
    padding: 0 0 10px 0px;
    margin-bottom: 20px;
  }
}
