.container {
  max-width: 100vw;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  /* background-image: url("/images/solid_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

/* .container::before {
  position: absolute;
  pointer-events: none;
  content: "";
  bottom: 1rem;
  left: 1rem;
  width: 512px;
  height: 512px;
  background-image: url("/images/lab_resized.png");
  background-size: cover;
  background-repeat: no-repeat;
} */

.background {
  position: absolute;
  pointer-events: none;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #040105;
  z-index: -1;
}

.greyGlow {
  position: absolute;
  pointer-events: none;
  bottom: 1rem;
  left: 1rem;
  width: 512px;
  height: 512px;
  background-color: #d6d6d6;
  filter: blur(256px);
  opacity: 0.5;
  z-index: -1;
}
.greenGlow {
  position: absolute;
  pointer-events: none;
  top: 1rem;
  right: 1rem;
  width: 512px;
  height: 512px;
  background-color: rgb(142, 241, 90);
  filter: blur(256px);
  opacity: 0.5;
  z-index: -1;
}
/* .container::after {
  position: absolute;
  pointer-events: none;
  content: "";
  bottom: 1rem;
  left: 1rem;
  width: 512px;
  height: 512px;
  background-color: #d6d6d6;
  filter: blur(256px);
  opacity: 0.5;
}
.container::before {
  position: absolute;
  pointer-events: none;
  content: "";
  top: 1rem;
  right: 1rem;
  width: 512px;
  height: 512px;
  background-color: rgb(142, 241, 90);
  filter: blur(256px);
  opacity: 0.5;
} */

.content {
  flex: 1;
  min-height: 100vh;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
  .content {
    min-height: 100vh;
    margin-left: 0px;
    max-width: 100vw;
  }
}
